name: DNC daily update

on:
  schedule:
    # Runs daily at 17:00 EST (UTC-5). 
    - cron: '0 22 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.SYNC_TOKEN }}
          persist-credentials: true  # Ensures credentials are available for git push

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Download and process CSV
        run: |
          python3 process.py || (echo "failed with exit code $?" && exit $?)

      - name: Commit and push updates

        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          
          # Add updated files
          git add 90days.db 90days.csv
          
          # Commit if there are changes
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Daily update"
            
            git push
          fi

